<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org" class="no-js" lang="ko">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>기업 상세페이지</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/x-icon" th:href="@{assets/images/favicon.svg}" />
    <!-- Place favicon.ico in the root directory -->

    <!-- Web Font -->
    <link
            th:href="@{https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap}"
            rel="stylesheet">
    <link th:href="@{https://fonts.googleapis.com/css2?family=Lato&display=swap}" rel="stylesheet">

    <!-- ========================= CSS here ========================= -->
    <link th:href ="@{/awesome/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link th:href ="@{/awesome/css/LineIcons.2.0.css}" rel="stylesheet" type="text/css">
    <link th:href ="@{/awesome/css/animate.css}" rel="stylesheet" type="text/css">
    <link th:href ="@{/awesome/css/tiny-slider.css}" rel="stylesheet" type="text/css">
    <link th:href ="@{/awesome/css/glightbox.min.css}" rel="stylesheet" type="text/css">
    <link th:href ="@{/awesome/css/main.css}" rel="stylesheet" type="text/css">

</head>

<body>
    <!-- Start Header Area -->
    <div th:replace="fragments/header :: header" />
    <!-- End Header Area -->

    <!-- Start Breadcrumbs -->
    <div class="breadcrumbs">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="breadcrumbs-content">
                        <h1 class="page-title">기업 상세페이지</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumbs -->

    <!-- Start Blog Singel Area -->
    <section class="section blog-single">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12 col-12">
                    <div class="single-inner">
                        <div class="post-thumbnils">
                            <img src="https://via.placeholder.com/850x460" alt="#">
                        </div>
                        <div class="post-details">
                            <div class="detail-inner">
                                <h2 class="post-title">기업 소개 타이틀</h2>
                                <span>기업명</span>
                                <i class="bi bi-trophy-fill"></i>
                                <!-- post meta -->
                                <ul class="custom-flex post-meta">
                                    <li>
                                        <a href="javascript:void(0)">
                                            <i class="lni lni-calendar"></i>
                                            20th March 2023
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">
                                            <i class="lni lni-comments"></i>
                                            35 Comments
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">
                                            <i class="lni lni-eye"></i>
                                            55 View
                                        </a>
                                    </li>
                                </ul>
                                <p>기업 내용을 가져옵니다.기업 내용을 가져옵니다.기업 내용을 가져옵니다.기업 내용을 가져옵니다.기업 내용을 가져옵니다.
                                    기업 내용을 가져옵니다.기업 내용을 가져옵니다.기업 내용을 가져옵니다.기업 내용을 가져옵니다.기업 내용을 가져옵니다.
                                    기업 내용을 가져옵니다.기업 내용을 가져옵니다.기업 내용을 가져옵니다.기업 내용을 가져옵니다.기업 내용을 가져옵니다.
                                    기업 내용을 가져옵니다.기업 내용을 가져옵니다.기업 내용을 가져옵니다.기업 내용을 가져옵니다.기업 내용을 가져옵니다.
                                </p>
                                <!-- post image -->
                                <div class="post-image">
                                    <div class="row align-items-center">
                                        <div class="col-lg-6 col-md-6 col-12">
                                            <h3>소제목을 가져옵니다</h3>
                                            <p>카테고리를 설명하는 내용을 가져옵니다.카테고리를 설명하는 내용을 가져옵니다.카테고리를 설명하는 내용을 가져옵니다.
                                                카테고리를 설명하는 내용을 가져옵니다.카테고리를 설명하는 내용을 가져옵니다.카테고리를 설명하는 내용을 가져옵니다.
                                            </p>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-12">
                                            <a href="javascript:void(0)">
                                                <img src="https://via.placeholder.com/600x400" alt="#">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <p>내용을 가져옵니다. 내용을 가져옵니다.내용을 가져옵니다.내용을 가져옵니다.내용을 가져옵니다.내용을 가져옵니다.내용을 가져옵니다.
                                    내용을 가져옵니다.내용을 가져옵니다.내용을 가져옵니다.내용을 가져옵니다.내용을 가져옵니다.내용을 가져옵니다.내용을 가져옵니다.내용을 가져옵니다.
                                    내용을 가져옵니다.내용을 가져옵니다.내용을 가져옵니다.내용을 가져옵니다.내용을 가져옵니다.내용을 가져옵니다.내용을 가져옵니다.
                                </p>
                                <!-- post quote -->
                                <blockquote>
                                    <div class="icon">
                                        <i class="lni lni-quotation"></i>
                                    </div>
                                    <h4>"Don't demand that things happen as you wish, but wish that they happen as they
                                        do
                                        happen, and you will go on well."</h4>
                                    <span>Epictetus, The Enchiridion</span>
                                </blockquote>
                                <h3>찾는 농산물에 대한 타이틀</h3>
                                <p>어떤 품종을 찾는지 내용을 가져옵니다. 어떤 품종을 찾는지 내용을 가져옵니다.
                                    어떤 품종을 찾는지 내용을 가져옵니다.어떤 품종을 찾는지 내용을 가져옵니다.어떤 품종을 찾는지 내용을 가져옵니다.
                                    어떤 품종을 찾는지 내용을 가져옵니다.어떤 품종을 찾는지 내용을 가져옵니다.어떤 품종을 찾는지 내용을 가져옵니다.
                                    어떤 품종을 찾는지 내용을 가져옵니다.어떤 품종을 찾는지 내용을 가져옵니다.어떤 품종을 찾는지 내용을 가져옵니다.
                                </p>
                                <ul class="list">
                                    <li><i class="lni lni-chevron-right"></i> 찾는 품종을 작성합니다. </li>
                                    <li><i class="lni lni-chevron-right"></i> 농약 수치는 어느정도, 친환경 여부등을 작성합니다.</li>
                                    <li><i class="lni lni-chevron-right"></i> 어느곳에 어느정도를 사용할 예정이다.</li>
                                </ul>

                                <p> 내용을 작성합니다. 내용을 작성합니다.내용을 작성합니다.내용을 작성합니다.내용을 작성합니다.
                                    내용을 작성합니다.내용을 작성합니다.내용을 작성합니다.내용을 작성합니다.내용을 작성합니다.내용을 작성합니다.
                                    내용을 작성합니다.내용을 작성합니다.내용을 작성합니다.내용을 작성합니다.
                                </p>
                                <!--post tags -->
                                <!-- Post Social Share -->
                                <div class="post-social-media">
                                    <h5 class="share-title">공유하기</h5>
                                    <ul>
                                        <li>
                                            <a href="javascript:void(0)">
                                                <i class="lni lni-facebook-filled"></i>
                                                <span>facebook</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">
                                                <i class="lni lni-twitter-original"></i>
                                                <span>twitter</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">
                                                <i class="lni lni-google"></i>
                                                <span>google+</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- Post Social Share -->
                            </div>
                            <!-- Comments -->
                            <div class="post-comments">
                                <h3 class="comment-title"><span>2개의 댓글이 작성되었습니다</span></h3>
                                <ul class="comments-list">
                                    <li>
                                        <div class="comment-img">
                                            <img src="https://via.placeholder.com/150x150" class="rounded-circle" alt="img">
                                        </div>
                                        <div class="comment-desc">
                                            <div class="desc-top">
                                                <h6>쿠쿠팡팡와와우우</h6>
                                                <span class="date">19th May 2023</span>
                                                <a href="javascript:void(0)"></a>
                                            </div>
                                            <p>
                                                잘 모르는 중소기업이라서 고민했는데, 계약 체결부터 ~~~
                                                너무 좋아요너무 좋아요너무 좋아요너무 좋아요너무 좋아요너무 좋아요너무 좋아요너무 좋아요
                                            </p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="comment-img">
                                            <img src="https://via.placeholder.com/150x150" class="rounded-circle" alt="img">
                                        </div>
                                        <div class="comment-desc">
                                            <div class="desc-top">
                                                <h6>2년째 거래중인 기업입니다</h6>
                                                <span class="date">12th May 2023</span>
                                                <a href="javascript:void(0)"></a>
                                            </div>
                                            <p>
                                                진짜 최고임.진짜 최고임진짜 최고임진짜 최고임진짜 최고임진짜 최고임진짜 최고임진짜 최고임진짜 최고임
                                                진짜 최고임진짜 최고임진짜 최고임진짜 최고임진짜 최고임
                                            </p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <aside class="col-lg-4 col-md-12 col-12">
                    <div class="sidebar blog-grid-page">
                        <!-- Start Single Widget -->
                        <div class="widget popular-feeds">
                            <h5 class="widget-title"><span>현재 진행중인 모집 목록</span></h5>
                            <div class="popular-feed-loop">
                                <div class="single-popular-feed">
                                    <div class="feed-desc">
                                        <h6 class="post-title"><a href="javascript:void(0)">감자 5t 모집합니다.</a></h6>
                                        <span class="time"><i class="lni lni-calendar"></i> 05th Nov 2023</span>
                                    </div>
                                </div>
                                <div class="single-popular-feed">
                                    <div class="feed-desc">
                                        <h6 class="post-title"><a href="javascript:void(0)">청양고추 10t 모집합니다.</a></h6>
                                        <span class="time"><i class="lni lni-calendar"></i> 24th March 2023</span>
                                    </div>
                                </div>
                                <div class="single-popular-feed">
                                    <div class="feed-desc">
                                        <h6 class="post-title"><a href="javascript:void(0)">사과즙에 필요한 즙용 사과 15t 모집합니다.</a></h6>
                                        <span class="time"><i class="lni lni-calendar"></i> 30th Jan 2023</span>
                                    </div>
                                </div>
                            </div>

                            <nav aria-label="Page navigation example">
                                <ul class="pagination">
                                  <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Previous">
                                      <span aria-hidden="true">&laquo;</span>
                                    </a>
                                  </li>
                                    <a class="page-link" href="#" aria-label="Next">
                                      <span aria-hidden="true">&raquo;</span>
                                    </a>
                                  </li>
                                </ul>
                              </nav>
                        </div>
                        <!-- End Single Widget -->

                        <!-- Start Single Widget -->
                        <div class="widget popular-feeds">
                            <h5 class="widget-title"><span>1년이내 입찰한 농산물</span></h5>
                            <div class="popular-feed-loop">
                                <div class="single-popular-feed">
                                    <div class="feed-desc">
                                        <h6 class="post-title"><span>청주사과 5t</span></h6>
                                        <span class="time"><i class="lni lni-calendar"></i> 05th Nov 2023</span>
                                    </div>
                                </div>
                                <div class="single-popular-feed">
                                    <div class="feed-desc">
                                        <h6 class="post-title"><span>두백감자 15t</span></h6>
                                        <span class="time"><i class="lni lni-calendar"></i> 24th March 2023</span>
                                    </div>
                                </div>
                                <div class="single-popular-feed">
                                    <div class="feed-desc">
                                        <h6 class="post-title"><span>로메인 100t</span></h6>
                                        <span class="time"><i class="lni lni-calendar"></i> 30th Jan 2023</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Widget -->
                        
                        <!-- Start Single Widget -->
                        <div class="widget popular-tag-widget">
                            <h5 class="widget-title"><span>기업 관련 Tags</span></h5>
                            <div class="tags">
                                <a href="javascript:void(0)">감자</a>
                                <a href="javascript:void(0)">청양고추</a>
                                <a href="javascript:void(0)">중소기업</a>
                                <a href="javascript:void(0)">신세계</a>
                                <a href="javascript:void(0)">급식</a>
                            </div>
                        </div>
                        <!-- End Single Widget -->
                        <!-- Start Single Block -->
                        <div class="single-block ">
                            <h3>위치 상세보기</h3>
                            <div class="mapouter">
                                <div class="gmap_canvas"><iframe width="100%" height="300" id="gmap_canvas"
                                        src="https://maps.google.com/maps?q=2880%20Broadway,%20New%20York&t=&z=13&ie=UTF8&iwloc=&output=embed"
                                        frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a
                                        href="https://putlocker-is.org"></a><br>
                                    <style>
                                        .mapouter {
                                            position: relative;
                                            text-align: right;
                                            height: 300px;
                                            width: 100%;
                                        }
                                    </style><a href="https://www.embedgooglemap.net">google map code for website</a>
                                    <style>
                                        .gmap_canvas {
                                            overflow: hidden;
                                            background: none !important;
                                            height: 300px;
                                            width: 100%;
                                        }
                                    </style>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Block -->
                    </div>
                </aside>
            </div>
        </div>
    </section>
    <!-- End Blog Singel Area -->
    
    <!-- Start Footer Area -->
    <div th:replace="fragments/footer :: footer" />
    <!--/ End Footer Area -->

    <!-- ========================= scroll-top ========================= -->
    <a href="#" class="scroll-top btn-hover">
        <i class="lni lni-chevron-up"></i>
    </a>

    <!-- ========================= JS here ========================= -->
    <script th:src="@{/awesome/js/bootstrap.min.js}"></script>
    <script th:src="@{/awesome/js/wow.min.js}"></script>
    <script th:src="@{/awesome/js/tiny-slider.js}"></script>
    <script th:src="@{/awesome/js/glightbox.min.js}"></script>
    <script th:src="@{/awesome/js/main.js}"></script>
</body>

</html>