<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org" class="no-js" lang="ko">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>기업 상세페이지</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/x-icon" th:href="@{assets/images/favicon.svg}" />
    <!-- Place favicon.ico in the root directory -->

    <!-- Web Font -->
    <link
            th:href="@{https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap}"
            rel="stylesheet">
    <link th:href="@{https://fonts.googleapis.com/css2?family=Lato&display=swap}" rel="stylesheet">

    <!-- ========================= CSS here ========================= -->
    <link th:href ="@{/awesome/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link th:href ="@{/awesome/css/LineIcons.2.0.css}" rel="stylesheet" type="text/css">
    <link th:href ="@{/awesome/css/animate.css}" rel="stylesheet" type="text/css">
    <link th:href ="@{/awesome/css/tiny-slider.css}" rel="stylesheet" type="text/css">
    <link th:href ="@{/awesome/css/glightbox.min.css}" rel="stylesheet" type="text/css">
    <link th:href ="@{/awesome/css/main-custom.css}" rel="stylesheet" type="text/css">
</head>
<body>
    <!-- Start Header Area -->
    <div th:replace="fragments/header :: header" />
    <!-- End Header Area -->

    <!-- Start Breadcrumbs -->
    <div class="breadcrumbs">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="breadcrumbs-content">
                        <h1 class="page-title">기업 상세페이지</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumbs -->

    <!-- Start Blog Singel Area -->
    <section class="section blog-single">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12 col-12" th:each="c:${companyDetail}">
                    <div class="single-inner">
                        <div class="post-thumbnils">
                            <img src="https://via.placeholder.com/850x460" alt="#">
                        </div>
                        <div class="post-details">
                            <div class="detail-inner">
                                <h2 class="post-title" th:text="${c.companyName}"></h2>
                                <h3 th:text="${c.companyLineInfo}"></h3>
                                <p th:text="${c.companyInfo}"></p>
                                <!-- Post Social Share -->
                                <div class="post-social-media">
                                    <h5 class="share-title">공유하기</h5>
                                    <ul>
                                        <li>
                                            <a href="javascript:void(0)">
                                                <i class="lni lni-facebook-filled"></i>
                                                <span>facebook</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">
                                                <i class="lni lni-twitter-original"></i>
                                                <span>twitter</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">
                                                <i class="lni lni-google"></i>
                                                <span>google+</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- Post Social Share -->
                            </div>
                        </div>
                    </div>
                </div>
                <aside class="col-lg-4 col-md-12 col-12">
                    <div class="sidebar blog-grid-page">
                        <!-- Start Single Widget -->
                        <div class="widget popular-feeds">
                            <h5 class="widget-title"><span>현재 진행중인 모집 목록</span></h5>
                            <div class="popular-feed-loop"  th:each="a:${buyingList}">
                                <div class="single-popular-feed">
                                    <div class="feed-desc">
                                        <h6 class="post-title" th:text="${a.buyingTitle}"><a href="javascript:void(0)"></a></h6>
                                        <span class="time"><i class="lni lni-calendar" th:text="${a.buyingStartTime}"></i></span>
                                    </div>
                                </div>
                            </div>

                            <nav aria-label="Page navigation example">
                                <ul class="pagination">
                                  <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Previous">
                                      <span aria-hidden="true">&laquo;</span>
                                    </a>
                                  </li>
                                    <a class="page-link" href="#" aria-label="Next">
                                      <span aria-hidden="true">&raquo;</span>
                                    </a>
                                  </li>
                                </ul>
                              </nav>
                        </div>
                        <!-- End Single Widget -->

                        <!-- Start Single Widget -->
                        <div class="widget popular-feeds">
                            <h5 class="widget-title"><span>1년이내 입찰한 농산물</span></h5>
                            <div class="popular-feed-loop">
                                <div class="single-popular-feed">
                                    <div class="feed-desc">
                                        <h6 class="post-title"><span>청주사과 5t</span></h6>
                                        <span class="time"><i class="lni lni-calendar"></i> 05th Nov 2023</span>
                                    </div>
                                </div>
                                <div class="single-popular-feed">
                                    <div class="feed-desc">
                                        <h6 class="post-title"><span>두백감자 15t</span></h6>
                                        <span class="time"><i class="lni lni-calendar"></i> 24th March 2023</span>
                                    </div>
                                </div>
                                <div class="single-popular-feed">
                                    <div class="feed-desc">
                                        <h6 class="post-title"><span>로메인 100t</span></h6>
                                        <span class="time"><i class="lni lni-calendar"></i> 30th Jan 2023</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Widget -->
                        <!-- Start Single Block -->
                        <div class="single-block ">
                            <h3>위치 상세보기</h3>
                            <div class="mapouter">
                                <div id="map"><iframe width="100%" height="300"></iframe></div>
                            </div>
                        </div>
                        <!-- End Single Block -->
                    </div>
                </aside>
            </div>
        </div>
    </section>
    <!-- End Blog Singel Area -->
    
    <!-- Start Footer Area -->
    <div th:replace="fragments/footer :: footer" />
    <!--/ End Footer Area -->

    <!-- ========================= scroll-top ========================= -->
    <a href="#" class="scroll-top btn-hover">
        <i class="lni lni-chevron-up"></i>
    </a>

    <!-- ========================= JS here ========================= -->
    <script th:src="@{/awesome/js/bootstrap.min.js}"></script>
    <script th:src="@{/awesome/js/wow.min.js}"></script>
    <script th:src="@{/awesome/js/tiny-slider.js}"></script>
    <script th:src="@{/awesome/js/glightbox.min.js}"></script>
    <script th:src="@{/awesome/js/main.js}"></script>
    <script type="text/javascript"
            src="http://dapi.kakao.com/v2/maps/sdk.js?appkey=fe13ca7949317749e1ea11cd1a8574d3&libraries=services,drawing,clusterer"></script>
    <script th:inline="javascript">
        var mapContainer = document.getElementById('map'), // 지도를 표시할 div
            mapOption = {
                center: new kakao.maps.LatLng(0, 0), // 지도의 중심좌표
                level: 4 // 지도의 확대 레벨
            };

        // 지도를 생성합니다
        var map = new kakao.maps.Map(mapContainer, mapOption);

        var imageSrc = 'https://img.icons8.com/doodle/48/null/phone-office-.png', // 마커이미지의 주소입니다
            imageSize = new kakao.maps.Size(48, 48), // 마커이미지의 크기입니다
            imageOption = {offset: new kakao.maps.Point(24, 48)}; // 마커이미지의 옵션입니다. 마커의 좌표와 일치시킬 이미지 안에서의 좌표를 설정합니다.

        // 마커의 이미지정보를 가지고 있는 마커이미지를 생성합니다
        var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imageOption);

        // 주소-좌표 변환 객체를 생성합니다
        var geocoder = new kakao.maps.services.Geocoder();

        // 주소로 좌표를 검색합니다
        geocoder.addressSearch([[${companyDetail.companyAddress}]], function(result, status) {

            // 정상적으로 검색이 완료됐으면
            if (status === kakao.maps.services.Status.OK) {

                var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

                // 결과값으로 받은 위치를 마커로 표시합니다
                var marker = new kakao.maps.Marker({
                    map: map,
                    position: coords,
                    image: markerImage
                });

                // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
                map.setCenter(coords);

                // 마커가 지도 위에 표시되도록 설정합니다
                marker.setMap(map);
            }
        });
    </script>
</body>

</html>