<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="no-js" lang="ko">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <title>모집글 작성폼</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{assets/images/favicon.svg}"/>
    <!-- Place favicon.ico in the root directory -->

    <!-- Web Font -->
    <link
            th:href="@{https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap}"
            rel="stylesheet">
    <link th:href="@{https://fonts.googleapis.com/css2?family=Lato&display=swap}" rel="stylesheet">

    <!-- ========================= CSS here ========================= -->
    <link th:href="@{/awesome/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/awesome/css/LineIcons.2.0.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/awesome/css/animate.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/awesome/css/tiny-slider.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/awesome/css/glightbox.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/awesome/css/main.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/awesome/css/company-gather-writeform.css}" rel="stylesheet" type="text/css">

    <!-- ========================= Dropzone ========================= -->
    <script th:src="@{https://unpkg.com/dropzone@5/dist/min/dropzone.min.js}"></script>
    <link rel="stylesheet" th:href="@{https://unpkg.com/dropzone@5/dist/min/dropzone.min.css}" type="text/css"/>
    <link rel='stylesheet' th:href="@{https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css}"/>

</head>

<body>
<!-- Start Header Area -->
<div th:replace="fragments/header :: header"/>
<!-- End Header Area -->

<!-- Start Breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-12">
                <div class="breadcrumbs-content">
                    <h1 class="page-title">모집 게시글 작성</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumbs -->

<!-- Start Dashboard Section -->
<section class="dashboard section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-12">
                <!-- Start Dashboard Sidebar -->
                <div class="dashboard-sidebar">
                    <div class="user-image">
                        <img src="https://via.placeholder.com/300x300" alt="#">
                        <h3>I5E2(검증된 기업)
                            <span><a href="javascript:void(0)">기업회원</a></span>
                        </h3>
                    </div>
                    <div class="dashboard-menu">
                        <ul>
                            <li><a class="active" href="dashboard.html"><i class="lni lni-dashboard"></i>
                                I5E2</a></li>
                            <li><a href="profile-settings.html"><i class="lni lni-pencil-alt"></i>회원정보수정</a></li>
                            <li><a href="favourite-items.html"><i class="lni lni-heart"></i>모집 내역</a></li>
                            <li><a href="favourite-items.html"><i class="lni lni-heart"></i>응찰 내역</a></li>
                            <li><a href="my-items.html"><i class="lni lni-bolt-alt"></i>포인트</a></li>
                            <li><a href="favourite-items.html"><i class="lni lni-heart"></i>관심 목록</a></li>
                            <li><a href="favourite-items.html"><i class="lni lni-heart"></i>알림</a></li>
                            <div class="button">
                                <a class="btn" href="javascript:void(0)">정회원 신청</a>
                            </div>
                    </div>
                </div>
                <!-- Start Dashboard Sidebar -->
            </div>
            <div class="col-lg-9 col-md-8 col-12">
                <div class="main-content">
                    <!-- Start Post Ad Block Area -->
                    <div class="dashboard-block mt-0">
                        <h3 class="block-title">모집 게시글 작성</h3>
                        <div class="inner-block">
                            <!-- Start Post Ad Tab -->
                            <div class="post-ad-tab">
                                <nav>
                                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                        <button class="nav-link active" id="nav-item-info-tab" data-bs-toggle="tab"
                                                data-bs-target="#nav-item-info" type="button" role="tab"
                                                aria-controls="nav-item-info" aria-selected="true">
                                            <span class="serial">필수</span>
                                            모집 게시글
                                            <span class="sub-title">기본/상세설정/운임정보</span>
                                        </button>
                                    </div>
                                </nav>
                                <div class="tab-content" id="nav-tabContent">
                                    <div class="tab-pane fade show active" id="nav-item-info" role="tabpanel"
                                         aria-labelledby="nav-item-info-tab">
                                        <!-- Start Post Ad Step One Content -->
                                        <div class="step-one-content">
                                            <form class="default-form-style" th:object="${buyingRequest}" method="post"
                                                  th:action="@{/market/buying}">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="form-group">
                                                            <label>제목*</label>
                                                            <input placeholder="경매를 잘 드러낼 수 있는 제목으로 입력해주세요" type="text"
                                                                   th:field="*{title}"
                                                                   th:class="${#fields.hasErrors('title')}? 'error'"/>
                                                            <div th:each="msg : ${#fields.errors('title')}">
                                                                <p style="color: red" th:text="${msg}"></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="form-group">
                                                            <label>모집 시작일*</label>
                                                            <input th:field="*{startTime}" type="date"
                                                                   placeholder="시작일을 설정해주세요"
                                                                   th:class="${#fields.hasErrors('startTime')}? 'error'">
                                                            <div th:each="msg : ${#fields.errors('startTime')}">
                                                                <p style="color: red" th:text="${msg}"></p>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label>모집 마감일*</label>
                                                            <input th:field="*{endTime}" type="date"
                                                                   placeholder="마감일을 설정해주세요"
                                                                   th:class="${#fields.hasErrors('endTime')}? 'error'">
                                                            <div th:each="msg : ${#fields.errors('endTime')}">
                                                                <p style="color: red" th:text="${msg}"></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="form-group">
                                                            <label>품종 카테고리*</label>
                                                            <div class="selector-head">
                                                                    <span class="arrow"><i
                                                                            class="lni lni-chevron-down"></i></span>
                                                                <select class="user-chosen-select"
                                                                        th:field="*{category}"
                                                                        th:class="${#fields.hasErrors('category')}? 'error'">
                                                                    <option selected value="0">카테고리를 선택해주세요</option>
                                                                    <option value="100">식량작물</option>
                                                                    <option value="200">채소류</option>
                                                                    <option value="300">특용작물</option>
                                                                    <option value="400">과일류</option>
                                                                    <option value="500">축산물</option>
                                                                    <option value="600">수산물</option>
                                                                </select>
                                                                <div th:each="msg : ${#fields.errors('category')}">
                                                                    <p style="color: red" th:text="${msg}"></p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="form-group">
                                                            <label>모집 품종*</label>
                                                            <input th:field="*{item}" type="text"
                                                                   placeholder="모집할 품종을 정확하게 기재해주세요"
                                                                   th:class="${#fields.hasErrors('item')}? 'error'">
                                                            <div th:each="msg : ${#fields.errors('item')}">
                                                                <p style="color: red" th:text="${msg}"></p>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <hr>

                                                    <!-- Start Post Ad Step Two Content -->
                                                    <div class="col-12">
                                                        <div class="form-group">
                                                            <label>모집 물량 (톤(t)단위) 최소 3T *</label>
                                                            <input th:field="*{quantity}" type="number"
                                                                   placeholder="모집 물량을 입력해주세요"
                                                                   th:class="${#fields.hasErrors('quantity')}? 'error'">
                                                            <div th:each="msg : ${#fields.errors('quantity')}">
                                                                <p style="color: red" th:text="${msg}"></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="form-group">
                                                            <label>가격 설정*</label>
                                                            <input th:field="*{price}" type="number"
                                                                   placeholder="모집 가격을 입력해주세요"
                                                                   th:class="${#fields.hasErrors('price')}? 'error'">
                                                            <div th:each="msg : ${#fields.errors('price')}">
                                                                <p style="color: red" th:text="${msg}"></p>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!-- start editor -->
                                                    <!-- start editor -->
                                                    <!-- start editor -->
                                                    <!-- start editor -->
                                                    <!-- start editor -->
                                                    <!-- start editor -->
                                                    <!-- start editor -->

                                                    <div id="editor-box">
                                                        <div class="form-group">
                                                            <label>내용*</label>
                                                            <textarea th:field="*{description}"
                                                                      th:class="${#fields.hasErrors('description')}? 'error'"
                                                                      style="height: 420px; width: 100%; resize: none"
                                                                      placeholder="상품 상세 내용을 작성해주세요">
                                                        </textarea>
                                                            <div th:each="msg : ${#fields.errors('description')}">
                                                                <p style="color: red" th:text="${msg}"></p>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!--                                                        <div class="dropzone"></div>-->

                                                    <!--                                                        &lt;!&ndash; 포스팅 - 이미지/동영상 farmdropzone 영역 &ndash;&gt;-->
                                                    <!--                                                        <ul class="list-unstyled mb-0" id="dropzone-preview">-->
                                                    <!--                                                            <li class="mt-2" id="dropzone-preview-list">-->
                                                    <!--                                                                &lt;!&ndash; This is used as the file preview template &ndash;&gt;-->
                                                    <!--                                                                <div class="border rounded-3"  >-->
                                                    <!--                                                                    <div class="d-flex align-items-center p-2">-->
                                                    <!--                                                                        <div class="flex-shrink-0 me-3">-->
                                                    <!--                                                                            <div class="width-8 h-auto rounded-3">-->
                                                    <!--                                                                                <img data-dz-thumbnail="data-dz-thumbnail" class="w-full h-auto rounded-3 block" src="#" alt="Dropzone-Image"  style="width: 120px;"/>-->
                                                    <!--                                                                            </div>-->
                                                    <!--                                                                        </div>-->
                                                    <!--                                                                        <div class="flex-grow-1">-->
                                                    <!--                                                                            <div class="pt-1">-->
                                                    <!--                                                                                <h6 class="font-semibold mb-1" data-dz-name="data-dz-name">&nbsp;</h6>-->
                                                    <!--                                                                                <p class="text-sm text-muted fw-normal" data-dz-size="data-dz-size"></p>-->
                                                    <!--                                                                                <strong class="error text-danger" data-dz-errormessage="data-dz-errormessage"></strong>-->
                                                    <!--                                                                            </div>-->
                                                    <!--                                                                        </div>-->
                                                    <!--                                                                        <div class="shrink-0 ms-3">-->
                                                    <!--                                                                            <button data-dz-remove="data-dz-remove" class="btn btn-sm btn-danger">Delete</button>-->
                                                    <!--                                                                        </div>-->
                                                    <!--                                                                    </div>-->
                                                    <!--                                                                </div>-->
                                                    <!--                                                            </li>-->
                                                    <!--                                                        </ul>-->
                                                    <!--                                                                                                                &lt;!&ndash; end editor &ndash;&gt;-->

                                                    <hr>

                                                    <!-- Start Post Ad Step Three Content -->
                                                    <div class="col-12">
                                                        <div class="form-group">
                                                            <label>운임방법*</label>
                                                            <div class="selector-head">
                                                                    <span class="arrow"><i
                                                                            class="lni lni-chevron-down"></i></span>
                                                                <select class="user-chosen-select"
                                                                        th:field="*{shipping}"
                                                                        th:class="${#fields.hasErrors('shipping')}? 'error'">
                                                                    <option value="0">개별 포장은 하지 않습니다</option>
                                                                    <option value="1">박스 포장</option>
                                                                    <option value="2">톤백 자루</option>
                                                                    <option value="3">콘티 박스</option>
                                                                </select>
                                                                <div th:each="msg : ${#fields.errors('shipping')}">
                                                                    <p style="color: red" th:text="${msg}"></p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-lg-6 col-12">
                                                        <div class="form-group">
                                                            <label>수령인*</label>
                                                            <input th:field="*{receiverName}" type="text"
                                                                   placeholder="수령인 성함을 작성해주세요"
                                                                   th:class="${#fields.hasErrors('receiverName')}? 'error'">
                                                            <div th:each="msg : ${#fields.errors('receiverName')}">
                                                                <p style="color: red" th:text="${msg}"></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-12">
                                                        <div class="form-group">
                                                            <label>수령인 연락처 (-를 제외한 숫자만 입력해주세요) *</label>
                                                            <input th:field="*{receiverPhoneNo}" type="text"
                                                                   th:class="${#fields.hasErrors('receiverPhoneNo')}? 'error'"
                                                                   placeholder="ex) 01012345678 ">
                                                            <div th:each="msg : ${#fields.errors('receiverPhoneNo')}">
                                                                <p style="color: red" th:text="${msg}"></p>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-12">
                                                        <div class="form-group">
                                                            <label>배송 받을 주소*</label>
                                                            <!--                                                                <input name="address" type="text"-->
                                                            <input th:field="*{receiverAddress}" type="text"
                                                                   th:class="${#fields.hasErrors('receiverAddress')}? 'error'"
                                                                   placeholder="배송 받을 주소를 입력해주세요">
                                                            <div th:each="msg : ${#fields.errors('receiverAddress')}">
                                                                <p style="color: red" th:text="${msg}"></p>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-12">
                                                        <div class="form-group button mb-0">
                                                            <button type="submit" class="btn" id="sub-btn">작성 완료
                                                            </button>
                                                        </div>
                                                    </div>

                                                </div>
                                            </form>
                                        </div>
                                        <!-- Start Post Ad Step One Content -->
                                    </div>
                                </div>
                            </div>
                            <!-- End Post Ad Tab -->
                        </div>
                    </div>
                    <!-- End Post Ad Block Area -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Dashboard Section -->

<!-- Start Footer Area -->
<div th:replace="fragments/footer :: footer"/>
<!--/ End Footer Area -->

<!-- ========================= scroll-top ========================= -->
<a href="#" class="scroll-top btn-hover">
    <i class="lni lni-chevron-up"></i>
</a>

<!-- ========================= JS here ========================= -->
<script th:src="@{/awesome/js/bootstrap.min.js}"></script>
<script th:src="@{/awesome/js/wow.min.js}"></script>
<script th:src="@{/awesome/js/tiny-slider.js}"></script>
<script th:src="@{/awesome/js/glightbox.min.js}"></script>
<script th:src="@{/awesome/js/main.js}"></script>

<script th:src="@{/awesome/js/companydropzone.js}"></script>


</body>

</html>