<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org" class="no-js" lang="ko">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>기업 정회원 신청</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/x-icon" th:href="@{assets/images/favicon.svg}" />
    <!-- Place favicon.ico in the root directory -->

    <!-- Web Font -->
    <link
            th:href="@{https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap}"
            rel="stylesheet">
    <link th:href="@{https://fonts.googleapis.com/css2?family=Lato&display=swap}" rel="stylesheet">

    <!-- ========================= CSS here ========================= -->
    <link th:href ="@{/awesome/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link th:href ="@{/awesome/css/LineIcons.2.0.css}" rel="stylesheet" type="text/css">
    <link th:href ="@{/awesome/css/animate.css}" rel="stylesheet" type="text/css">
    <link th:href ="@{/awesome/css/tiny-slider.css}" rel="stylesheet" type="text/css">
    <link th:href ="@{/awesome/css/glightbox.min.css}" rel="stylesheet" type="text/css">
    <link th:href ="@{/awesome/css/main.css}" rel="stylesheet" type="text/css">
    <link th:href ="@{/awesome/css/company-registration.css}" rel="stylesheet" type="text/css">
</head>

<body>
    <!-- Start Header Area -->
    <div th:replace="fragments/header :: header" />
    <!-- End Header Area -->

    <!-- Start Breadcrumbs -->
    <div class="breadcrumbs">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="breadcrumbs-content">
                        <h1 class="page-title">기업 정회원 등록폼</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumbs -->

    <!-- Start Dashboard Section -->
    <section class="dashboard section">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-12">
                    <!-- Start Dashboard Sidebar -->
                    <!-- Start Dashboard Sidebar -->
                </div>
                <div class="col-lg-9 col-md-8 col-12">
                    <div class="main-content">
                        <!-- Start Profile Settings Area -->
                        <div class="dashboard-block mt-0 profile-settings-block">
                            <h3 class="block-title">기업 정회원 등록폼</h3>
                            <div class="inner-block">
                                <!-- <div class="image">
                                    <img src="https://via.placeholder.com/300x300" alt="#">
                                </div> -->
                                <form class="profile-setting-form" method="post" action="#">
                                    <div class="row">
                                        <div class="col-lg-6 col-12">
                                            <div class="form-group">
                                                <label>업체명*</label>
                                                <input name="business_name" type="text" placeholder="업체명을 작성해주세요">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-12">
                                            <div class="form-group">
                                                <label>업체 전화번호*</label>
                                                <input name="business_phone_no" type="text" placeholder="Ex) 01011112222">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label>업체 웹사이트 URL*</label>
                                                <input name="company-url" type="text" class="w-550" placeholder="운영중인 웹페이지 주소를 작성해주세요">
                                                <button id="company-url-btn" type="button" class="btn btn-warning">확인</button>
                                            </div>
                                        </div>

                                        <div class="col-12">
                                            <div class="form-group">
                                                <label>이메일 확인하기(해당 이메일이 아닌 경우 회원정보를 수정해주세요)*</label>
                                                <input name="check-email" type="text" value="like@gmail.com">
                                            </div>
                                        </div>

                                        <div class="check-company-number">
                                            <div class="col-lg-6 col-12">
                                                <div class="form-group">
                                                    <label>대표자명(사업자등록증과 일치해야합니다)*</label>
                                                    <input name="usernames" type="text" placeholder="대표자명을 작성해주세요">
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-12">
                                                <div class="form-group">
                                                    <label>사업자등록번호*</label>
                                                    <input name="usernames" type="text" placeholder="사업자등록번호를 작성해주세요">
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-12">
                                                <div class="form-group">
                                                    <label>개업일(사업자등록증과 일치해야합니다)*</label>
                                                    <input name="usernames" type="datetime-local" placeholder="개업일을 작성해주세요">
                                                </div>
                                            </div>
                                            <button type="button" class="btn btn-warning">사업자등록증 확인</button>
                                        </div>

                                        <div class="col-12">
                                            <div class="form-group upload-image">
                                                <label>파일첨부 (사업자등록증, 담당자 명함)*</label>
                                                <p>파일명 형식: 사업자등록증_업체명</p>
                                                <input name="profile-image" type="file" placeholder="Upload Image">
                                            </div>
                                        </div>
                                        
                                        <div class="col-12">
                                            <div class="form-group message">
                                                <label>기업소개*</label>
                                                <textarea name="message" placeholder="500자 이내로 작성해주세요"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group button mb-0">
                                                <button type="submit" class="btn ">신청서 제출</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- End Profile Settings Area -->
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Dashboard Section -->

    <!-- Start Footer Area -->
    <div th:replace="fragments/footer :: footer" />
    <!--/ End Footer Area -->

    <!-- ========================= scroll-top ========================= -->
    <a href="#" class="scroll-top btn-hover">
        <i class="lni lni-chevron-up"></i>
    </a>

    <!-- ========================= JS here ========================= -->
    <script th:src="@{/awesome/js/bootstrap.min.js}"></script>
    <script th:src="@{/awesome/js/wow.min.js}"></script>
    <script th:src="@{/awesome/js/tiny-slider.js}"></script>
    <script th:src="@{/awesome/js/glightbox.min.js}"></script>
    <script th:src="@{/awesome/js/main.js}"></script>
</body>

</html>