<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org" class="no-js" lang="ko">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>일반 회원가입</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/x-icon" th:href="@{assets/images/favicon.svg}" />
    <!-- Place favicon.ico in the root directory -->

    <!-- Web Font -->
    <link
            th:href="@{https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap}"
            rel="stylesheet">
    <link th:href="@{https://fonts.googleapis.com/css2?family=Lato&display=swap}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css}">

    <!-- ========================= CSS here ========================= -->
    <link th:href ="@{/awesome/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link th:href ="@{/awesome/css/LineIcons.2.0.css}" rel="stylesheet" type="text/css">
    <link th:href ="@{/awesome/css/animate.css}" rel="stylesheet" type="text/css">
    <link th:href ="@{/awesome/css/tiny-slider.css}" rel="stylesheet" type="text/css">
    <link th:href ="@{/awesome/css/glightbox.min.css}" rel="stylesheet" type="text/css">
    <link th:href ="@{/awesome/css/main.css}" rel="stylesheet" type="text/css">
    <link th:href ="@{/awesome/css/company-gather-writeform.css}" rel="stylesheet" type="text/css">
</head>

<body>
    <!-- Start Header Area -->
    <div th:replace="fragments/header :: header" />
    <!-- End Header Area -->

    <!-- Start Breadcrumbs -->
    <div class="breadcrumbs">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="breadcrumbs-content">
                        <h1 class="page-title">회원가입</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumbs -->

    <!-- start Registration section -->
    <section class="login registration section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-12">
                    <div class="form-head">
                        <h4 class="title">일반 회원가입</h4>
                        <form action="#!" method="post">
                            <div class="socila-login">
                                <ul>
<!--                                    <li><a href="javascript:void(0)" class="naver"><i-->
<!--                                                class="lni lni-naver-original"></i>네이버계정으로 가입하기</a></li>-->
                                    <li><a href="javascript:void(0)" class="google"><i class="lni lni-google"></i>구글계정으로
                                            가입하기</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="alt-option">
                                <span>Or</span>
                            </div>
                            <div class="registration-email">
                                <label>이메일*</label>
                                <input name="email" type="email" placeholder="이메일 주소를 입력해주세요">
                                <button id="email" type="button" class="btn btn-warning check-btn">확인</button>
                            </div>
                            <div class="form-group">
                                <label>업체명*</label>
                                <input name="companyName" type="text" placeholder="업체명을 입력해주세요">
                            </div>
                            <div class="form-group">
                                <label>담당자명*</label>
                                <input name="name" type="text" placeholder="담당자명을 입력해주세요">
                            </div>
                            <div class="form-group">
                                <label>담당자 전화번호 (Ex: 01011112222)*</label>
                                <input name="phoneNumber" type="text" placeholder="전화번호를 입력해주세요">
                            </div>
                            <div class="form-group">
                                <label>주소*</label>
                                <input name="address" type="text" placeholder="사업장 주소지를 입력해주세요">
                            </div>
                            <div class="form-group">
                                <label>비밀번호*</label>
                                <input name="password" type="password">
                            </div>
                            <div class="form-group">
                                <label>비밀번호 확인*</label>
                                <input name="password" type="password">
                            </div>
                            <div class="button">
                                <button type="submit" class="btn">등록</button>
                            </div>
                            <p class="outer-link">이미 가입된 회원인가요? <a href="login.html">로그인 바로가기</a>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Registration section -->

    <!-- Start Footer Area -->
    <div th:replace="fragments/footer :: footer" />
    <!--/ End Footer Area -->

    <!-- ========================= scroll-top ========================= -->
    <a href="#" class="scroll-top btn-hover">
        <i class="lni lni-chevron-up"></i>
    </a>

    <!-- ========================= JS here ========================= -->
    <script th:src="@{/awesome/js/bootstrap.min.js}"></script>
    <script th:src="@{/awesome/js/wow.min.js}"></script>
    <script th:src="@{/awesome/js/tiny-slider.js}"></script>
    <script th:src="@{/awesome/js/glightbox.min.js}"></script>
    <script th:src="@{/awesome/js/main.js}"></script>
</body>

</html>