<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>농가 리스트</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/awesome/images/favicon.svg}"/>
    <!-- Place favicon.ico in the root directory -->

    <!-- Web Font -->
    <link
            th:href="@{https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap}"
            rel="stylesheet">
    <link th:href="@{https://fonts.googleapis.com/css2?family=Lato&display=swap}" rel="stylesheet">

    <!-- ========================= CSS here ========================= -->
    <link th:href ="@{/awesome/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link th:href ="@{/awesome/css/LineIcons.2.0.css}" rel="stylesheet" type="text/css">
    <link th:href ="@{/awesome/css/animate.css}" rel="stylesheet" type="text/css">
    <link th:href ="@{/awesome/css/tiny-slider.css}" rel="stylesheet" type="text/css">
    <link th:href ="@{/awesome/css/glightbox.min.css}" rel="stylesheet" type="text/css">
    <link th:href ="@{/awesome/css/main-custom.css}" rel="stylesheet" type="text/css">

</head>

<body>
<!--start header-->
<div th:replace="fragments/header :: header" />
<!--end header-->

<!-- Start Breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-12">
                <div class="breadcrumbs-content">
                    <h1 class="page-title">농가 리스트</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumbs -->

<!-- Start Dashboard Section -->
<section class="dashboard section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-12">
                <div class="main-content">
                    <div class="dashboard-block mt-0">
                        <nav class="list-nav">
                            <ul>
                                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                    <button class="nav-link active" id="nav-grid-tab" data-bs-toggle="tab"
                                            data-bs-target="#nav-grid" type="button" role="tab"
                                            aria-controls="nav-grid" aria-selected="true">
                                        <li class="active"><a href="javascript:void(0)">등록순</a></li>
                                    </button>
                                </div>
                            </ul>
                        </nav>
                        <!-- Start Items Area -->
                        <div class="my-items">
                            <!-- Start List Title -->
                            <div class="item-list-title">
                                <div class="row align-items-center">
                                    <div class="col-lg-1 col-md-1 col-12">
                                        <p>No</p>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <p>농가명</p>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-12">
                                        <p>품목</p>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-12">
                                        <p>주소</p>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-12 align-right">
                                        <p>검증 농가</p>
                                    </div>
                                </div>
                            </div>
                            <!-- End List Title -->

                            <!-- Start Single List -->
                            <div class="single-item-list" th:each="f:${farmList}">
                                <div class="row align-items-center">
                                    <div class="col-lg-1 col-md-1 col-12">
                                        <div class="item-image content">
                                            <h3 class="title"><a href="javascript:void(0)" th:text="${f.id}"></a></h3>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="item-image content">
                                            <h3 class="title"><a href="javascript:void(0)" th:text="${f.farmOwnerName}"></a></h3>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-12">
                                        <p th:text="${f.farmMajorItem}"></p>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-12">
                                        <p th:text="${f.farmAddress}"></p>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-12 align-right">
                                        <ul class="action-btn">
                                            <li><a href="javascript:void(0)"><i
                                                    class="lni lni-checkmark-circle"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single List -->

                            <!-- Pagination -->
                            <div class="pagination center" th:if="${!farmList.isEmpty()}">
                                <ul class="pagination-list" th:with="start=${(farmList.number/maxPage)*maxPage + 1},
                                end=(${(farmList.totalPages == 0) ? 1 : (start + (maxPage - 1) < farmList.totalPages
                                ? start + (maxPage - 1) : farmList.totalPages)})">
                                    <li th:if="${start > 1}">
                                        <a th:href="@{/farm/list(page=0)}" th:text="'<<'"></a>
                                    </li>
                                    <li th:if="${start > 1}">
                                        <a th:href="@{/farm/list(page=${start - maxPage})}" th:text="'<'"></a>
                                    </li>

                                    <li th:each="page: ${#numbers.sequence(start, end)}">
                                        <a th:text="${page}" th:href="@{/farm/list(page=${page - 1})}"></a>
                                    </li>

                                    <li th:if="${end < farmList.totalPages}">
                                        <a th:href="@{/farm/list(page=${start + maxPage})}" th:text="'>'"></a>
                                    </li>
                                    <li th:if="${end < farmList.totalPages}">
                                        <a th:href="@{/farm/list(page=${farmList.totalPages - 1})}" th:text="'>>'"></a>
                                    </li>
                                </ul>
                            </div>
                            <!--/ End Pagination -->
                        </div>
                        <!-- End Items Area -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Dashboard Section -->

<!--start footer-->
<div th:replace="fragments/footer :: footer" />
<!--end footer-->

<!-- ========================= JS here ========================= -->
<script type="text/javascript" th:src="@{/awesome/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/awesome/js/wow.min.js}"></script>
<script type="text/javascript" th:src="@{/awesome/js/tiny-slider.js}"></script>
<script type="text/javascript" th:src="@{/awesome/js/glightbox.min.js}"></script>
<script type="text/javascript" th:src="@{/awesome/js/main.js}"></script>
</body>

</html>