<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>embedding test</title>

    <script src="https://www.eformsign.com/plugins/jquery/jquery.min.js"></script>
    <script src="https://www.eformsign.com/lib/js/efs_embedded_v2.js"></script>

</head>


<body>

<!-- Start Dashboard Section -->
<div class="container">
    <iframe id="eformsign_iframe" width="1440" height="1024"></iframe>
</div>
<!-- End Dashboard Section -->


<!-- ========================= JS here ========================= -->
<script th:inline="javascript">
    var eformsign = new EformSignDocument();

    var document_option = {
        "company": {
            "id": "5a74ada340a1404c85cd23e643c8c3a5",            // Company ID 입력
            "country_code": "kr",
            "user_key": ""
        },
        "user": {
            "type": "01",         // 사용자 구분 (01: 멤버, 02: 외부자)
            "id": "", // 사용자 ID(이메일)
            "access_token": /*[[${accessToken}]]*/ null,
            "refresh_token" : /*"${refreshToken}"*/ null   // Refresh Token 입력 (eformsign API 사용하기 - Access Token 발급 참조)
        },
        "mode": {
            "type": "01",      // 모드 (01: 새 문서 작성, 02: 문서 처리, 03: 문서 미리보기)
            "template_id": "7127d80aff1b4c048a25cfb2af0ef225" // template id 입력
        },
        "layout": {
            "lang_code": "ko" // 이폼사인 언어. ko, en, ja
        },
        "prefill" : {
            "document_name": "", // 문서 제목 입력
            "fields": [
                {
                    "id" : "고객명",       // 필드명
                    "value" : "김멋채",    // 필드값
                    "enabled" : true,   // 활성화 여부
                    "required" : true   // 필수 여부
                }
            ],
            "recipients": [
                {
                    "step_idx" : "2",       // 워크플로우 순서. 수신자가 있을 경우 2부터 시작
                    "step_type": "05",      // 단계 종류. 05: 참여자, 06: 검토자
                    "name" : "김회사",        // 수신자 이름
                    "id": "", // 수신자 ID/이메일
                    "sms": "",   // 수신자 핸드폰 번호
                    "use_mail": true,       // 이메일 알림 사용 여부
                    "use_sms": true        // SMS 알림 사용 여부
                }
            ],
            "comment": "서명하세요"     // 메시지
        },
        "return_fields" : ['김멋채']           // Success Callback에서 값을 확인할 수 있도록 넘겨줄 필드명
    };

    console.log(document_option);

    //callback option
    var success_callback = function (response) {
        console.log(response.code);
        if (response.code == "-1") {
            //문서 작성 성공
            console.log(response.document_id);
            // return_fields에 넘긴 데이터를 조회 가능함. fields는 폼을 작성할 때 만든 입력 컴포넌트의 id를 의미함.
            console.log(response.field_values["company_name"]);
            console.log(response.field_values["position"]);
        }
    };

    var error_callback = function (response) {
        console.log(response.code);
        //문서 작성 실패
        alert(response.message);
    };


    var action_callback = function (response) {
        $('#buttonList').find('button').css('display','none');      // div id=buttonList의 모든 버튼을 보이지 않도록 설정
        $(response.data).each(function(idx, action){                // response.data의 각 값에 대해
            $('#buttonList').find('button').each(function(idx, btn){    // div id=buttonList의 모든 버튼에서
                if ($(btn).attr('id').replace('btn_','') === action.code){  // 만약 data[].code에 해당하는 버튼이 있으면
                    $(btn).attr('title',action.name).text(action.name);     // 버튼 title을 data[].name으로 설정하고
                    $(btn).css('display', '');                              // 버튼을 보이도록 설정
                }
            });
        });
        console.table(response.data);
    };

    // 무한 로딩..

    eformsign.document(document_option, "eformsign_iframe", success_callback, error_callback, action_callback);
    eformsign.open();
</script>
</body>

</html>