<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>Mail Success - ClassiGrids Classified Ads and Listing Website Template.</title>
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="shortcut icon" type="image/x-icon" th:href="@{/awesome/images/favicon.svg}"/>
  <!-- Place favicon.ico in the root directory -->

  <!-- Web Font -->
  <link
          th:href="@{https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap}"
          rel="stylesheet">
  <link th:href="@{https://fonts.googleapis.com/css2?family=Lato&display=swap}" rel="stylesheet">

  <!-- ========================= CSS here ========================= -->
  <link th:href ="@{/awesome/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
  <link th:href ="@{/awesome/css/LineIcons.2.0.css}" rel="stylesheet" type="text/css">
  <link th:href ="@{/awesome/css/animate.css}" rel="stylesheet" type="text/css">
  <link th:href ="@{/awesome/css/tiny-slider.css}" rel="stylesheet" type="text/css">
  <link th:href ="@{/awesome/css/glightbox.min.css}" rel="stylesheet" type="text/css">
  <link th:href ="@{/awesome/css/main-custom.css}" rel="stylesheet" type="text/css">

</head>

<body>

  <!-- Start Error Area -->
  <div class="maill-success">
    <div class="d-table">
      <div class="d-table-cell">
        <div class="container">
          <div class="success-content">
            <h1>계약서 생성 완료!</h1>
            <h2>가입 시 입력하신 이메일로 계약서가 발송되었습니다. 확인 후 서명해 주세요.</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Error Area -->

  <!-- ========================= JS here ========================= -->
  <script type="text/javascript" th:src="@{/awesome/js/bootstrap.min.js}"></script>
  <script type="text/javascript" th:src="@{/awesome/js/wow.min.js}"></script>
  <script type="text/javascript" th:src="@{/awesome/js/tiny-slider.js}"></script>
  <script type="text/javascript" th:src="@{/awesome/js/glightbox.min.js}"></script>

  <script>
    window.onload = function () {
      window.setTimeout(fadeout, 500);
    }

    function fadeout() {
      document.querySelector('.preloader').style.opacity = '0';
      document.querySelector('.preloader').style.display = 'none';
    }
  </script>
</body>

</html>