<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="no-js" lang="ko">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <title>입찰 참여 페이지</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{assets/images/favicon.svg}"/>
    <!-- Place favicon.ico in the root directory -->

    <!-- Web Font -->
    <link
            th:href="@{https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap}"
            rel="stylesheet">
    <link th:href="@{https://fonts.googleapis.com/css2?family=Lato&display=swap}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css}">

    <!-- ========================= CSS here ========================= -->
    <link th:href="@{/awesome/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/awesome/css/LineIcons.2.0.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/awesome/css/animate.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/awesome/css/tiny-slider.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/awesome/css/glightbox.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/awesome/css/main.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/awesome/css/apply-bidding-detail.css}" rel="stylesheet" type="text/css">
</head>

<body>

<!-- Start Header Area -->
<div th:replace="fragments/header :: header"/>
<!-- End Header Area -->

<!-- Start Breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-12">
                <div class="breadcrumbs-content">
                    <h1 class="page-title">입찰 참여 신청</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumbs -->

<!-- Start Contact Area -->
<section id="contact-us" class="contact-us section">
    <div class="container">
        <div class="contact-head wow fadeInUp" data-wow-delay=".4s">
            <div class="">
                <div class="">
                    <div class="single-head t-center">
                        <div class="contant-inner-title">
                            <h2>즙용 비트 5t 판매합니다</h2>
                            <span>입찰상태: </span>
                            <span>입찰대기중</span>
                        </div>

                        <div class="center-content">
                            <div class="single-info">
                                <h3>입찰 정보</h3>
                                <ul>
                                    <li>입찰자: 멋채럼</li>
                                    <li>
                                        <a href="">즙용 비트 5t 판매합니다.</a>
                                    </li>
                                    <li>남은 시간:</li>
                                </ul>
                            </div>

                            <div class="single-info">
                                <form action="" method="post">
                                    <h3>입찰가*</h3>
                                    <div class="price-input-box">
                                        <input type="number" min="1" id="auctionPrice" name="auctionPrice"
                                               placeholder="입찰가를 입력해주세요">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="single-head t-center">
                        <div class="contant-inner-title">
                            <h2>즙용 비트 5t 판매합니다</h2>
                            <span>입찰상태: </span>
                            <span>입찰대기중</span>
                        </div>
                    </div>

                    <div class="d-grid gap-2 m-t-20">
                        <button class="btn btn-warning size-h-65 payment-btn" type="button">입찰 완료</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!--/ End Contact Area -->

<!-- Start Footer Area -->
<div th:replace="fragments/footer :: footer"/>
<!--/ End Footer Area -->

<!-- ========================= scroll-top ========================= -->
<a href="#" class="scroll-top btn-hover">
    <i class="lni lni-chevron-up"></i>
</a>

<!-- ========================= JS here ========================= -->
<script th:src="@{/awesome/js/bootstrap.min.js}"></script>
<script th:src="@{/awesome/js/wow.min.js}"></script>
<script th:src="@{/awesome/js/tiny-slider.js}"></script>
<script th:src="@{/awesome/js/glightbox.min.js}"></script>
<script th:src="@{/awesome/js/main.js}"></script>
</body>

</html>